
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#regBtn {
    width:100px
}

#careerImg {
    width:300px
}